body{
    color: black;
    font-family: Arial, sans-serif;
    background-color: oklab(79.682% 0.04541 0.01484 / 0.321);
}
body h1 {
    font-size: 32pt;
    font-family: century gothic;
    text-align: center;
    color: black;
}
body hr {
    width: 80%;
    height: 3px;
    color: black;

}
body table {
    width: 80%;
    cellspacing: 15;
    cell padding: 10;
}
body th{



}

body td {
    padding: 10px;
    text-align: center;
}
body img {
    width: 250px;
    max-width: 400px;
    height:300px;
    border-radius: 10px;
    border: 2px solid black;
}
.nevigation {
  background-color: #2d98da;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: white;
}